@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");
.color-primario {
  color: #fec63d;
}

.color-secundario {
  color: black;
}

.color-terciario {
  color: gray;
}

* {
  font-family: "Kanit";
}

.color-primario {
  color: #fec63d;
}

.color-secundario {
  color: black;
}

.color-terciario {
  color: gray;
}

header {
  border-bottom: solid black 2px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3000;
}
header .navbar {
  background-color: white !important;
}
header .header__logo {
  width: 150px;
}
@media (min-width: 576px) and (max-width: 1024px) {
  header .header__logo {
    width: 100px;
  }
}
@media (max-width: 575px) {
  header .header__logo {
    width: 80px;
  }
}
header .nav-link {
  font-size: 20px;
  color: black;
}
@media (min-width: 576px) and (max-width: 1024px) {
  header .nav-link {
    font-size: 15px;
    padding: 2px;
  }
}
@media (max-width: 575px) {
  header .nav-link {
    font-size: 15px;
    padding: 2px;
  }
}
header .navbar-nav {
  align-items: end;
}
header #navbarNav {
  justify-content: end;
}
header .nav-item {
  padding: 0 15px;
}
@media (min-width: 576px) and (max-width: 1024px) {
  header .nav-item {
    padding: 0 10px;
  }
}
@media (max-width: 575px) {
  header .nav-item {
    padding: 0 10px;
  }
}
header .nav-item:hover {
  background-color: #fec63d;
  border-radius: 20px;
}
header .active {
  background-color: #fec63d;
  border-radius: 20px;
  font-weight: bold;
}
@media (min-width: 576px) and (max-width: 1024px) {
  header .active {
    border-radius: 10px;
  }
}
@media (max-width: 575px) {
  header .active {
    border-radius: 10px;
  }
}

/* Estilo para el banner de la frase */
#banner__nav {
  background-color: #fec63d;
  font-size: 10px;
  padding: 2px 0;
}
#banner__nav h1 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
@media (min-width: 576px) and (max-width: 1024px) {
  #banner__nav h1 {
    font-size: 15px;
  }
}
@media (max-width: 575px) {
  #banner__nav h1 {
    font-size: 15px;
  }
}

.color-primario {
  color: #fec63d;
}

.color-secundario {
  color: black;
}

.color-terciario {
  color: gray;
}

* {
  margin: 0;
  padding: 0;
}

*, ::after, ::before {
  box-sizing: unset;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
main #imgPerroIndex {
  margin: 25px;
  width: 300px;
}
@media (max-width: 575px) {
  main #imgPerroIndex {
    display: none;
  }
}
main #indexSection .cuadroHome {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-bottom: solid gray 1px;
}
main #indexSection .cuadroHome h2 {
  padding: 20px;
  font-size: 30px;
  color: white;
  background-color: lightcoral;
  border-radius: 25px 25px 25px 0px;
}
@media (max-width: 575px) {
  main #indexSection .cuadroHome h2 {
    padding: 10px;
    font-size: 18px;
    text-align: center;
  }
}
main #indexSection .cuadroHome .textoIndex {
  font-size: 20px;
  margin: 20px;
}
@media (max-width: 575px) {
  main #indexSection .cuadroHome .textoIndex {
    font-size: 14px;
    margin: 10px;
  }
}
@media (min-width: 576px) and (max-width: 1024px) {
  main #indexSection .cuadroHome {
    flex-direction: column;
    align-items: center;
    border-bottom: solid gray 1px;
  }
}
@media (max-width: 575px) {
  main #indexSection .cuadroHome {
    margin: 20px 0px;
    flex-direction: column;
  }
}

#footer_rrss {
  background-color: #fec63d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer_rrss img {
  margin: 5px;
  padding: 3px 0;
  width: 30px;
  height: 30px;
  align-content: center;
}
@media (max-width: 575px) {
  #footer_rrss img {
    margin: 3px;
    width: 25px;
    height: 25px;
  }
}
#footer_rrss p {
  padding: 3px 0;
  margin: 0;
}
@media (max-width: 575px) {
  #footer_rrss p {
    padding: 1px 0;
    font-size: 12px;
  }
}

.color-primario {
  color: #fec63d;
}

.color-secundario {
  color: black;
}

.color-terciario {
  color: gray;
}

#nosotrosSection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#nosotrosSection div {
  margin: 15px;
  text-align: -webkit-center;
}
@media (min-width: 576px) and (max-width: 1024px) {
  #nosotrosSection div {
    margin: 10px;
  }
}
@media (max-width: 575px) {
  #nosotrosSection div {
    margin: 5px;
  }
}
#nosotrosSection #quienesSomos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#nosotrosSection #quienesSomos img {
  width: 400px;
}
@media (min-width: 576px) and (max-width: 1024px) {
  #nosotrosSection #quienesSomos img {
    width: 250px;
  }
}
@media (max-width: 575px) {
  #nosotrosSection #quienesSomos img {
    width: 150px;
  }
}
#nosotrosSection #quienesSomos #quienesSomosTexto {
  padding: 20px;
}
@media (max-width: 575px) {
  #nosotrosSection #quienesSomos #quienesSomosTexto {
    padding: 5px;
  }
}
#nosotrosSection #quienesSomos #quienesSomosTexto h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
#nosotrosSection #quienesSomos #quienesSomosTexto p {
  text-align: justify;
  font-size: 18px;
  margin-top: 20px;
}
@media (min-width: 576px) and (max-width: 1024px) {
  #nosotrosSection #quienesSomos #quienesSomosTexto p {
    text-align: justify;
  }
}
@media (max-width: 575px) {
  #nosotrosSection #quienesSomos #quienesSomosTexto p {
    font-size: 14px;
    margin-top: 5px;
  }
}
@media (min-width: 576px) and (max-width: 1024px) {
  #nosotrosSection #quienesSomos {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  #nosotrosSection #quienesSomos {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
  }
}
#nosotrosSection #misionVisionValor {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#nosotrosSection #misionVisionValor h2 {
  font-size: 30px;
  text-align: center;
  background-color: black;
  border-radius: 15px;
  width: 120px;
  font-weight: bold;
}
@media (max-width: 575px) {
  #nosotrosSection #misionVisionValor h2 {
    font-size: 20px;
  }
}
#nosotrosSection #misionVisionValor p {
  text-align: center;
  font-size: 18px;
}
@media (max-width: 575px) {
  #nosotrosSection #misionVisionValor p {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  #nosotrosSection #misionVisionValor {
    flex-direction: column;
  }
}

.color-primario {
  color: #fec63d;
}

.color-secundario {
  color: black;
}

.color-terciario {
  color: gray;
}

#listaRefugios {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#listaRefugios h2 {
  padding: 15px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
@media (max-width: 575px) {
  #listaRefugios h2 {
    text-align: center;
    font-size: 25px;
  }
}
#listaRefugios .contenedor-refugios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: normal;
}
#listaRefugios .contenedor-refugios .refugios {
  width: 200px;
  margin: 10px;
  padding: 5px;
  background-color: #fec63d;
  border: 1px solid black;
  border-radius: 10px;
}
#listaRefugios .contenedor-refugios .refugios img {
  width: 20px;
}
#listaRefugios .contenedor-refugios .refugios h3 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
#listaRefugios .contenedor-refugios .refugios a {
  text-decoration: none;
  color: black;
}
@media (max-width: 575px) {
  #listaRefugios .contenedor-refugios .refugios {
    width: 150px;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #mascotaRefugios {
    display: none;
  }
}
@media (max-width: 575px) {
  #mascotaRefugios {
    display: none;
  }
}
.color-primario {
  color: #fec63d;
}

.color-secundario {
  color: black;
}

.color-terciario {
  color: gray;
}

#mascotasSection {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#mascotasSection img {
  width: 100%;
}
#mascotasSection .contenedor-cajas {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#mascotasSection .contenedor-cajas .mascotas-caja {
  border-radius: 15px;
  background-color: #fec63d;
  margin: 30px;
  padding: 15px;
}
#mascotasSection .contenedor-cajas .mascotas-caja p {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
@media (max-width: 575px) {
  #mascotasSection .contenedor-cajas .mascotas-caja p {
    font-size: 20px;
  }
}
@media (min-width: 576px) and (max-width: 1024px) {
  #mascotasSection .contenedor-cajas .mascotas-caja {
    padding: 0px;
    margin: 15px;
  }
}
@media (max-width: 575px) {
  #mascotasSection .contenedor-cajas .mascotas-caja {
    margin: 15px;
    padding: 10px;
  }
}
@media (max-width: 575px) {
  #mascotasSection .contenedor-cajas {
    flex-direction: column;
  }
}

.color-primario {
  color: #fec63d;
}

.color-secundario {
  color: black;
}

.color-terciario {
  color: gray;
}

#contactoSection {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align-last: right;
}
#contactoSection iframe {
  width: 400px;
  height: 400px;
  padding: 10px;
}
@media (min-width: 576px) and (max-width: 1024px) {
  #contactoSection iframe {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 575px) {
  #contactoSection iframe {
    width: 250px;
    height: 250px;
  }
}
#contactoSection .formulario-contacto {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
@media (min-width: 576px) and (max-width: 1024px) {
  #contactoSection .formulario-contacto {
    margin: 20px;
  }
}
@media (max-width: 575px) {
  #contactoSection .formulario-contacto {
    margin: 10px;
  }
}
#contactoSection .formulario-contacto h2 {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
}
@media (min-width: 576px) and (max-width: 1024px) {
  #contactoSection .formulario-contacto h2 {
    font-size: 25px;
  }
}
@media (max-width: 575px) {
  #contactoSection .formulario-contacto h2 {
    font-size: 18px;
  }
}
#contactoSection .formulario-contacto p {
  font-size: 20px;
  padding: 15px;
  margin: 0;
}
@media (min-width: 576px) and (max-width: 1024px) {
  #contactoSection .formulario-contacto p {
    font-size: 18px;
    padding: 10px;
  }
}
@media (max-width: 575px) {
  #contactoSection .formulario-contacto p {
    font-size: 13px;
    padding: 5px;
  }
}
@media (min-width: 576px) and (max-width: 1024px) {
  #contactoSection {
    text-align-last: unset;
  }
}
@media (max-width: 575px) {
  #contactoSection {
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=app.css.map */
