*{
    margin: 0;
    padding: 0;
}

header{
    background-color: white;
    width: 100%;
    border-bottom: solid black 2px;
    position: sticky;
    top: 0;
    left: 0;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
}

header ul a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: "Kanit";
    background-color: #fec63d;
}

main{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "imgIndex imgIndex cuadroAdoptar textoAdoptar textoAdoptar"
        "imgIndex imgIndex cuadroColaborar textoColaborar textoColaborar"
        "imgIndex imgIndex cuadroVisitar textoVisitar textoVisitar"
    ;
    row-gap: 20px;
    column-gap: 10px;
    align-items: center;
    align-content: center;
}

main img{
    grid-area: imgIndex;
}

.cuadroHome{
    width: 300px;
    height: 150px;
    border: solid gray 2px;
    border-radius: 30px;
    font-size: 30px;
    font-family: "Kanit";
    text-align: center;
    color: white;
    font-weight: bold;
}

.cuadroAdoptar{
    grid-area: cuadroAdoptar;
    background-color: lightpink;
}

#textoAdoptar{
    grid-area: textoAdoptar;
}

.cuadroColaborar{
    grid-area: cuadroColaborar;
    background-color: lightsalmon;
}

#textoColaborar{
    grid-area: textoColaborar;
}

.cuadroVisitar{
    grid-area: cuadroVisitar;
    background-color: lightseagreen;
}

#textoVisitar{
    grid-area: textoVisitar;
}

.textoIndex{
    font-size: 20px;
    font-family: "Kanit";
    text-align: justify;
}

footer{
    background-color: #fec63d;
    width: 100%;
    height: 80px;
}

footer img{
    width: 30px;
    height: 30px;
}



/*
*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: whitesmoke;
}

header{
    /*background-color: yellow;
    width: 100%;
    height: 20%;
    border-bottom: double 5px yellow;
}

header *{
    display: inline;
}
/*
#logo{
    display: inline;
}

#img-logo{
    width: 200px;
    padding: 35px;
}

#menu{
    font-size: 20px;
    font-family: "Kanit";
    margin: 20%;
}

main{
    background-color: beige;
    width: 100%;
    height: 60%;
}

footer{
    /*background-color: aquamarine;
    width: 100%;
    height: 20%;
    border-top: double 5px yellow;
}





/*
header img{
    padding: 10%;
}


#logo{
    margin: 15px;

}*/