*{
    margin: 0;
    padding: 0;
    font-family: "Kanit";
}

*, ::after, ::before {
    box-sizing: unset;
}


/* Estilo para el header */
header{
    border-bottom: solid black 2px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3000;
}

.navbar{
    background-color: white !important;
}

.header__logo{
    width: 150px;
}

.nav-link{
    font-size: 20px;
}

.navbar-nav {
    align-items: end;
}

#navbarNav {
    justify-content: end;
}

.nav-item{
    padding: 0 15px;
}

.nav-link{
    color: black;
}

.nav-item:hover{
    background-color: #fec63d;
    border-radius: 20px;
}

.active{
    background-color: #fec63d;
    border-radius: 20px;
    font-weight: bold;
}



/* Estilo para el banner de la frase */
#banner__nav{
    background-color: #fec63d;
    font-size: 10px;
    padding: 2px 0;
}

#banner__nav h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}



/* Estilos para la página del home */
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
}

#indexSection h2{
    padding: 20px;
    font-family: "Kanit";
    font-size: 30px;
    color: white;
    background-color: lightcoral;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#imgPerroIndex{
    margin: 25px;
    width: 300px;
}

.textoIndex{
    font-family: "Kanit";
    font-size: 20px;
    margin: 20px;
}

.cuadroHome{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid gray 1px;
}



/* Estilos para la página de nosotros */
#nosotrosSection{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#nosotrosSection div{
    margin: 15px;
    text-align: -webkit-center;
}

#quienesSomos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#quienesSomos img{
    width: 400px;
}

#quienesSomosTexto{
    margin: 40px;
    width: 50%;

}

#quienesSomosTexto h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: gray;
}

#quienesSomosTexto p{
    text-align: justify;
    font-size: 18px;
    margin-top: 20px;
}

#misionVisionValor{
    display: flex;
    flex-direction: row;
}

#misionVisionValor h2{
    font-size: 30px;
    text-align: center;
    background-color: black;
    border-radius: 15px;
    color: #fec63d;
    width: 100px;
    font-weight: bold;
}

#misionVisionValor p{
    text-align: center;
    font-size: 18px;
}


/* Estilos para la página de refugios */
#listaRefugios{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#listaRefugios h2{
    padding: 15px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.contenedor-refugios{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.refugios{
    width: 200px;
    /* height: 150px; */
    margin: 10px;
    padding: 5px;
    background-color: #fec63d;
    border: 1px solid black;
    border-radius: 10px;
}

.refugios img{
    width: 20px;
}

.refugios h3{
    font-size: 20px;
    text-transform: uppercase;
}

.refugios a{
    text-decoration: none;
    color: black;
}




/* Estilos para la página de mascotas */
#mascotasSection{
    display: flex;
    flex-direction: column;
}

#mascotasSection img{
    width: 100%;
}

.contenedor-cajas{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mascotas-caja{
    border-radius: 15px;
    background-color: #fec63d;
    margin: 30px;
    padding: 15px;
}

.mascotas-caja p{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}





/* Estilos para la página de contacto */
#contactoSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align-last: right;
}

#contactoSection iframe{
    width: 400px;
    height: 400px;
    padding: 10px;
}

.formulario-contacto{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.formulario-contacto h2{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
}

.formulario-contacto p{
    font-size: 20px;
    margin: 15px;
}




/* Estilos para el footer */
#footer_rrss{
    background-color: #fec63d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer_rrss img{
    margin: 5px;
    padding: 3px 0;
    width: 30px;
    height: 30px;
    align-content: center;
}

#footer_rrss p{
    padding: 3px 0;
    margin: 0;
}



/* Estilos para mobile */
@media (min-width: 576px) and (max-width: 992px){
    /* Estilo para el header */
    .header__logo{
        width: 100px;
    }

    .nav-link{
        font-size: 15px;
        padding: 2px;
    }
    
    .nav-item{
        padding: 0 10px;
    }
    
    .active{
        background-color: #fec63d;
        border-radius: 10px;
        font-weight: bold;
    }



    /* Estilo para el banner de la frase */
    #banner__nav h1{
        font-size: 15px;
    }



    /* Estilos para la página de inicio */
    .cuadroHome {
        flex-direction: column;
        align-items: center;
        border-bottom: solid gray 1px;
    }



    /* Estilos para la página de nosotros */
    #quienesSomos {
        display: flex;
        flex-direction: column;
    }

    #nosotrosSection div {
        margin: 10px;
    }

    #quienesSomosTexto p {
        text-align: justify;
        width: 100%;
    }



    /* Estilos para la página de refugios */
    #mascotaRefugios{
        display: none;
    }


    /* Estilos para la página de mascotas */
    .mascotas-caja {
        padding: 0px;
        margin: 15px;
    }


    /* Estilos para la página de contacto */
    #contactoSection iframe{
        width: 300px;
        height: 300px;
    }

    #contactoSection {
        text-align-last: unset;
    }
    
}

@media (max-width: 575px){
    /* Estilo para el header */
    .header__logo{
        width: 100px;
    }

    .nav-link{
        font-size: 15px;
        padding: 2px;
    }
    
    .nav-item{
        padding: 0 10px;
    }
    
    .active{
        background-color: #fec63d;
        border-radius: 10px;
        font-weight: bold;
    }



    /* Estilo para el banner de la frase */
    #banner__nav h1{
        font-size: 15px;
    }


    /* Estilos para la página de inicio */
    #imgPerroIndex {
        display: none;
    }

    /* #indexSection{
        background-image: url('../images/perro-home.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
    } */

    .cuadroHome {
        margin-left: 20px;
        margin-right: 20px;
    }




    /* Estilos para la página de nosotros */
    #quienesSomos {
        display: flex;
        flex-direction: column;
    }

    #misionVisionValor {
        flex-direction: column;
    }

    #nosotrosSection div {
        margin: 15px;
    }



    /* Estilos para la página de refugios */
    #mascotaRefugios{
        display: none;
    }

    #listaRefugios h2 {
        text-align: center;
    }




    /* Estilos para la página de mascotas */
    .contenedor-cajas{
        flex-direction: column;
    }

    .mascotas-caja {
        margin: 20px;
        padding: 10px;
    }
    
    
    /* Estilos mobile para la página de contacto */
    #contactoSection{
        flex-direction: column;
        align-items: center;
    }

    #contactoSection iframe{
        width: 250px;
        height: 250px;
    }

    .formulario-contacto{
        margin: 30px;
    }

    .formulario-contacto h2{
        font-size: 20px;
    }

    .formulario-contacto p{
        font-size: 15px;
        margin: 10px;
    }


    /* Estilos mobile para el footer */
    #footer_rrss img{
        margin: 3px;
        width: 20px;
        height: 20px;
    }
    
    #footer_rrss p{
        padding: 1px 0;
    }
}