*{
    margin: 0;
    padding: 0;
    font-family: "Kanit";
}

body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 8vh 5vh auto 5vh;/* 90px 50px auto auto;*/
    grid-template-areas: 
        "header header header header"
        "nav nav nav nav"
        "main main main main"
        "footer footer footer footer"
    ;
}


/* Estilo para el header */
header{
    background-color: white;
    width: 100%;
    border-bottom: solid black 2px;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    grid-area: header;
    z-index: 3000;
}

#headerLogo{
    width: 150px;
    padding-left: 5%;
}

header ul{
    list-style-type: none;
    display: flex;
}

header ul li{
    text-decoration-color: none;
    padding: 0px 20px;
}

header ul li:hover{
    background-color: #fec63d;
    border-radius: 20px;
}

header ul a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: "Kanit";
    color: black;
}


/* Estilo para el banner de la frase */
nav{
    grid-area: nav;
    background-color: #fec63d;
    text-align: center;
    font-family: "Kanit";
    font-size: 15px;
}



/* Estilos para la página del home */
main{
    grid-area: main;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
}

#indexSection h2{
    padding: 20px;
    font-family: "Kanit";
    font-size: 30px;
    color: white;
    background-color: lightcoral;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#imgPerroIndex{
    margin: 25px;
    width: 300px;
}

.textoIndex{
    font-family: "Kanit";
    font-size: 20px;
    margin: 20px;
}

.cuadroHome{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid gray 1px;
}



/* Estilos para la página de nosotros */
#nosotrosSection{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

#nosotrosSection div{
    margin: 30px;
}

#quienesSomos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#quienesSomos img{
    width: 400px;
}

#quienesSomosTexto{
    margin: 40px;
    width: 50%;

}

#quienesSomosTexto h2{
    font-family: "Kanit";
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: gray;
}

#quienesSomosTexto p{
    text-align: justify;
    font-family: "Kanit";
    font-size: 18px;
    margin-top: 20px;
}

#misionVisionValor{
    display: flex;
    flex-direction: row;
}

#misionVisionValor h2{
    font-family: "Kanit";
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    background-color: black;
    border-radius: 15px;
    color: #fec63d;
    /* width: 100px; */
}

#misionVisionValor p{
    padding: 30px;
    text-align: justify;
    font-family: "Kanit";
    font-size: 18px;
    margin-top: 20px;
}


/* Estilos para la página de refugios */
#listaRefugios{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#listaRefugios h2{
    padding: 40px;
    font-family: "Kanit";
    font-size: 40px;
    text-transform: uppercase;
}

.contenedor-refugios{
    display: flex;
    flex-flow: row wrap;
}

.refugios{
    width: 200px;
    height: 150px;
    margin: 25px;
}

.refugios img{
    width: 30px;
}

.refugios h3{
    font-size: 20px;
    text-transform: uppercase;
}

.refugios a{
    text-decoration: none;
    color: black;
}




/* Estilos para la página de mascotas */
#mascotasSection{
    display: flex;
    flex-direction: column;

}

#mascotasSection img{
    width: 100%;
}

.contenedor-cajas{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mascotas-caja{
    width: 25%;
    /* height: 150px; */
    border-radius: 15px;
    background-color: #fec63d;
    margin: 30px;
    padding: 30px;
}

.mascotas-caja p{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}





/* Estilos para la página de contacto */
#contactoSection{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#contactoSection iframe{
    width: 400px;
    height: 400px;
}

.formulario-contacto{
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.formulario-contacto h2{
    font-size: 35px;
    text-transform: uppercase;
}

.formulario-contacto p{
    font-size: 20px;
    margin: 20px;
}




/* Estilos para el footer */
footer{
    background-color: #fec63d;
    width: 100%;
    height: 80px;
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer img{
    padding: 20px;
    width: 30px;
    height: 30px;
    align-content: center;
}



/* Estilos para mobile */
@media (min-width: 576px) and (max-width: 992px){
    /* Estilo para el banner de la frase */
    nav{
        font-size: 15px;
    }
}

@media (max-width: 575px){
    /* Estilo para el banner de la frase */
    nav{
        font-size: 10px;
    }


    /* Estilos para la página de mascotas */
    .contenedor-cajas{
        flex-direction: column;
    }
    
    
    /* Estilos mobile para la página de contacto */
    #contactoSection{
        flex-direction: column;
        align-items: center;
    }

    .formulario-contacto{
        margin: 30px;
    }

    .formulario-contacto h2{
        font-size: 20px;
    }

    .formulario-contacto p{
        font-size: 15px;
        margin: 10px;
    }
}



/*
*{
    margin: 0;
    padding: 0;
}

header{
    background-color: white;
    width: 100%;
    border-bottom: solid black 2px;
    position: sticky;
    top: 0;
    left: 0;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
}

header ul a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: "Kanit";
    background-color: #fec63d;
}

main{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "imgIndex imgIndex cuadroAdoptar textoAdoptar textoAdoptar"
        "imgIndex imgIndex cuadroColaborar textoColaborar textoColaborar"
        "imgIndex imgIndex cuadroVisitar textoVisitar textoVisitar"
    ;
    row-gap: 20px;
    column-gap: 10px;
    align-items: center;
    align-content: center;
}

main img{
    grid-area: imgIndex;
}

#imgPerroIndex{
    align-items: end;
}

.cuadroHome{
    width: 300px;
    height: 150px;
    border: solid gray 2px;
    border-radius: 30px;
    font-size: 30px;
    font-family: "Kanit";
    text-align: center;
    color: white;
    font-weight: bold;
}

.cuadroAdoptar{
    grid-area: cuadroAdoptar;
    background-color: lightpink;
}

#textoAdoptar{
    grid-area: textoAdoptar;
}

.cuadroColaborar{
    grid-area: cuadroColaborar;
    background-color: lightsalmon;
}

#textoColaborar{
    grid-area: textoColaborar;
}

.cuadroVisitar{
    grid-area: cuadroVisitar;
    background-color: lightseagreen;
}

#textoVisitar{
    grid-area: textoVisitar;
}

.textoIndex{
    font-size: 20px;
    font-family: "Kanit";
    text-align: justify;
}

footer{
    background-color: #fec63d;
    width: 100%;
    height: 80px;
}

footer img{
    width: 30px;
    height: 30px;
}




*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: whitesmoke;
}

header{
    /*background-color: yellow;
    width: 100%;
    height: 20%;
    border-bottom: double 5px yellow;
}

header *{
    display: inline;
}
/*
#logo{
    display: inline;
}

#img-logo{
    width: 200px;
    padding: 35px;
}

#menu{
    font-size: 20px;
    font-family: "Kanit";
    margin: 20%;
}

main{
    background-color: beige;
    width: 100%;
    height: 60%;
}

footer{
    /*background-color: aquamarine;
    width: 100%;
    height: 20%;
    border-top: double 5px yellow;
}





/*
header img{
    padding: 10%;
}


#logo{
    margin: 15px;

}*/