@import '../basics/mediaqueries.scss';
@import '../basics/colors.scss';
@import '../basics/mixins';

#mascotasSection{
    @include flexbox(column, nowrap, center, center);
    img{
        width: 100%;
    }
    .contenedor-cajas{
        @include flexbox(row, nowrap, center, center);
        .mascotas-caja{
            border-radius: 15px;
            background-color: $color-primario;
            margin: 30px;
            padding: 15px;
            p{
                font-size: 30px;
                text-align: center;
                font-weight: bold;
                @include mediaquery-mobile(){
                    font-size: 20px;
                }
            }
            @include mediaquery-tablet(){
                padding: 0px;
                margin: 15px;
            }
            @include mediaquery-mobile(){
                margin: 15px;
                padding: 10px;
            }
        }
        @include mediaquery-mobile(){
            flex-direction: column;
        }
    }
}