#mascotasSection{
    @include flexbox(column, nowrap, center, center);
    .contenedor__cajas{
        @include flexbox(row, nowrap, center, center);
        a{
            text-decoration: none;
        }
        .mascotas__caja{
            height: auto;
            border-radius: 15px;
            background-color: #f08080;
            background: linear-gradient(90deg, rgba(250,157,157,1) 0%, rgba(240,128,128,1) 46%);
            margin: 30px;
            padding: 15px;
            p{
                font-size: 40px;
                color: white;
                text-align: center;
                font-weight: bold;
                text-transform: uppercase;
                @include mediaquery-tablet(){
                    padding: 25px;
                }
                @include mediaquery-mobile(){
                    font-size: 35px;
                }
            }
            @include mediaquery-tablet(){
                padding: 0px;
                margin: 15px;
            }
            @include mediaquery-mobile(){
                margin: 15px;
                padding: 10px;
            }
        }
        @include mediaquery-mobile(){
            flex-direction: column;
        }
    }
}

#imagenPerros{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 100px;
    @include mediaquery-tablet(){
        bottom: 85px;
    }
    @include mediaquery-mobile(){
        bottom: 75px;
    }
}