#nosotrosSection{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    div{
        margin: 15px;
        text-align: -webkit-center;
    }
    #quienesSomos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        img{
            width: 400px;
        }
        #quienesSomosTexto{
            padding: 20px;
            h2{
                font-size: 30px;
                text-align: center;
                margin-bottom: 20px;
                color: gray;
            }
            p{
                text-align: justify;
                font-size: 18px;
                margin-top: 20px;
            }
        }
    }
    #misionVisionValor{
        display: flex;
        flex-direction: row;
        h2{
            font-size: 30px;
            text-align: center;
            background-color: black;
            border-radius: 15px;
            color: #fec63d;
            width: 100px;
            font-weight: bold;
        }
        p{
            text-align: center;
            font-size: 18px;
        }
    }
}

@media (min-width: 576px) and (max-width: 992px){
    #nosotrosSection{
        #quienesSomos {
            display: flex;
            flex-direction: column;
            img {
                width: 250px;
            }
            #quienesSomosTexto{
                p {
                    text-align: justify;
                    // width: 100%;
                }
            }
        }
        div {
            margin: 10px;
            width: auto;
        }
    }
}

@media (max-width: 575px){
    #nosotrosSection{
        div {
            width: auto;
            margin: 10px;
        }
        #quienesSomos {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid black;
            img {
                width: 150px;
            }
            #quienesSomosTexto{
                p {
                    font-size: 14px;
                }
            }
        }
        #misionVisionValor {
            flex-direction: column;
            h2 {
                font-size: 20px;
            }
            p {
                font-size: 14px;
            }
        }
    }
}