header{
    border-bottom: solid black 2px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3000;
    .navbar{
        background-color: white !important;
    }

    .header__logo{
        width: 150px;
    }

    .nav-link{
        font-size: 20px;
    }

    .navbar-nav {
        align-items: end;
    }

    #navbarNav {
        justify-content: end;
    }

    .nav-item{
        padding: 0 15px;
    }

    .nav-link{
        color: black;
    }

    .nav-item:hover{
        background-color: #fec63d;
        border-radius: 20px;
    }
    
    .active{
        background-color: #fec63d;
        border-radius: 20px;
        font-weight: bold;
    }
}

/* Estilo para el banner de la frase */
#banner__nav{
    background-color: #fec63d;
    font-size: 10px;
    padding: 2px 0;
    h1{
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }
}

@media (min-width: 576px) and (max-width: 992px){
    /* Estilo para el header */
    header{
        .header__logo{
            width: 100px;
        }

        .nav-link{
            font-size: 15px;
            padding: 2px;
        }
        
        .nav-item{
            padding: 0 10px;
        }
        
        .active{
            background-color: #fec63d;
            border-radius: 10px;
            font-weight: bold;
        }
    }
    #banner__nav{
        h1{
            font-size: 15px;
        }
    } 
}

@media (max-width: 575px){
    header{
        .header__logo{
            width: 80px;
        }

        .nav-link{
            font-size: 15px;
            padding: 2px;
        }
        
        .nav-item{
            padding: 0 10px;
        }
        
        .active{
            background-color: #fec63d;
            border-radius: 10px;
            font-weight: bold;
        }
    }
    #banner__nav{
        h1{
            font-size: 15px;
        }
    }
}