@import '../basics/mediaqueries.scss';
@import '../basics/colors.scss';
@import '../basics/mixins';

*{
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: unset;
}

main{
    @include flexbox(row, nowrap, center, center);
    #imgPerroIndex{
        margin: 25px;
        width: 300px;
        @include mediaquery-mobile{
            display: none;
        }
    }
    #indexSection {
        .cuadroHome{
            margin-top: 50px;
            margin-bottom: 50px;
            @include flexbox(row, nowrap, center, center);
            border-bottom: solid $color-terceario 1px;
            h2{
                padding: 20px;
                font-size: 30px;
                color: white;
                background-color: lightcoral;
                border-radius: 25px 25px 25px 0px;
                @include mediaquery-mobile(){
                    padding: 10px;
                    font-size: 18px;
                    text-align: center;
                }
            }
            .textoIndex{
                font-size: 20px;
                margin: 20px;
                @include mediaquery-mobile(){
                    font-size: 14px;
                    margin: 10px;
                }
            }
            @include mediaquery-tablet(){
                flex-direction: column;
                align-items: center;
                border-bottom: solid $color-terceario 1px;
            }
            @include mediaquery-mobile(){
                margin: 20px 0px;
                flex-direction: column;
            }
        }
    }
}